.GameWindow {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
	align-content: center;
	padding: 15px;
	outline: none;
	position: relative;
	touch-action: manipulation;
	user-select: none;
}

.TopMenu {
    height: 60px;
	margin-bottom: 15px;
	flex-direction: row;
	display: flex;
	min-width: 250px;
}

.CounterGroup {
	margin: 5px;
	width: 40%;
	min-width: 90px;
	flex-direction: row;
	display: flex;
}

.PlayButton {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin-top: 10px;
}

.PlayButton img {
	width: 100%;
	height: 100%;
}

.PlayButton:active img {
	margin-left: 1px;
	margin-top: 1px;
}

.PlayButton:active {
    background-color: var(--color-bg);
    border: 2px solid var(--color-out);
    border-top-color: var(--color-in);
    border-left-color: var(--color-in);
}

.game-background-outer-original {
    background-color: var(--color-bg);
    border: 2px solid var(--color-out);
    border-right-color: var(--color-in);
    border-bottom-color: var(--color-in);
}

.game-background-inner-original {
    background-color: var(--color-bg);
    border: 2px solid var(--color-out);
    border-top-color: var(--color-in);
    border-left-color: var(--color-in);
}

.Container {
	display: flex;
}