.GameWindow {
    background-color: #808080;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
	align-content: center;
	padding: 15px;
	outline: none;
	position: relative;
}

.TopMenu {
    height: 60px;
	margin-bottom: 15px;
	flex-direction: row;
	display: flex;
	min-width: 250px;
}

.CounterGroup {
	margin: 5px;
	width: 40%;
	min-width: 90px;
	flex-direction: row;
	display: flex;
}

.PlayButton {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin-top: 10px;
}

.PlayButton img {
	width: 100%;
	height: 100%;
}

.PlayButton:active img {
	margin-left: 1px;
	margin-top: 1px;
}

.PlayButton:active {
    background-color: gray;
    border: 2px solid white;
    border-top-color: rgb(51, 45, 45);
    border-left-color: rgb(51, 45, 45);
}

.game-background-outer-original {
    background-color: gray;
    border: 2px solid white;
    border-right-color: rgb(51, 45, 45);
    border-bottom-color: rgb(51, 45, 45);
}

.game-background-inner-original {
    background-color: gray;
    border: 2px solid white;
    border-top-color: rgb(51, 45, 45);
    border-left-color: rgb(51, 45, 45);
}